html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  #camera--view {
    filter: invert(100%);
}
  
  #camera, #left--View, #right--View {
    position: fixed;
    height: 50%;
    width: 100%;
    object-fit: cover;
  }

  #left--View {
    left: 0;
  }

  #right--View {
    right: 0;
  }